<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>СГК</title>
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="select.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    
    <div class="main_content">
          
        <div class="info">
            <select class="select-css"> 
                <option>Выберите объект</option> 
                <option>Объект 1</option> 
                <option>Объект 2</option> 
                <option>Объект 3</option> 
                <option>Объект 4</option> 
                <option>Объект 5</option>
                <option>Объект 6</option>
                </select>
                <select class="select-css"> 
                    <option>Выберите объект</option> 
                    <option>Объект 1</option> 
                    <option>Объект 2</option> 
                    <option>Объект 3</option> 
                    <option>Объект 4</option> 
                    <option>Объект 5</option>
                    <option>Объект 6</option>
                    </select>
                    <select class="select-css"> 
                        <option>Выберите объект</option> 
                        <option>Объект 1</option> 
                        <option>Объект 2</option> 
                        <option>Объект 3</option> 
                        <option>Объект 4</option> 
                        <option>Объект 5</option>
                        <option>Объект 6</option>
                        </select>
                        <a href="#" class="boton1">Запрос</a>
      </div>
    </div>
       
</div>

</body>
</html>